<div class="schedule-item-content [[item.color]]" data-id="[[item.course._id]]"
     ng-class="(!isNotPast(item)) ?  'past' : 'notpast'">

    <!--FOR PERSONNEL (OR USERS THAT CAN MANAGE) : SUBJECT AND EDIT ICON-->
    <div ng-if="canManage()" class="display-flex space-between">
        <!--COURSE SUBJECT-->
        <div ng-class="(isNotPast(item)) ?  'ten' : 'twelve'"
             class="cell ten ellipsis inside-schedule">
            <!--'inside-schedule' : allows drag and drop-->
            [[item.course.subjectLabel]]
        </div>
        <!--COURSE EDIT ICON-->
        <div ng-show="isNotPast(item)" class="cell one edit-icone" data-id="[[item.course._id]]">
            <i class="edit margin-right-md right-magnet">
                <div ng-hide="true">[[item.startDate]]</div>
                <div ng-hide="true">[[item.endDate]]</div>
            </i>
        </div>
    </div>

    <!--FOR OTHER USERS ONLY SUBJECT-->
    <div ng-if="!canManage()">
        <!--COURSE SUBJECT-->
        <div class="cell twelve ellipsis">
            [[item.course.subjectLabel]]
        </div>
    </div>

    <!--LIST OF COURSE CLASSES AND GROUPS-->
    <em class="metadata inside-schedule">
        <span class="inside-schedule" ng-repeat="className in item.course.classes">[[className]]</span>
        <span class="inside-schedule" ng-repeat="groupName in item.course.groups">[[groupName]]</span>
    </em>

    <!--COURSE ROOM-->
    <em class="metadata inside-schedule">
           <span ng-repeat="roomLabel in item.course.roomLabels">
               <span ng-if="roomLabel !== null && roomLabel !=''">
                -  <i18n>edt.utils.room</i18n>: [[roomLabel]]
               </span>
           </span>
    </em>
</div>