<div oncontextmenu="return false" ng-if="item.exceptionnal" class="schedule-item-content exceptionnal" data-id="[[item.course._id]]" ng-class="(!isNotPast(item)) ?  'past' : 'notpast' " >
    <div ng-if="isPersonnel()  ">
        <div ng-class="(!isNotPast(item)) ?  'eleven' : 'twelve'
            "class="cell  ellipsis" >[[item.course.subjectLabel]] </div>
        <div  ng-show="isNotPast(item)" class="one cell edit-icone" data-id="[[item.course._id]]" >
            <i class="edit sm-margin-right right-magnet"  >
                <div ng-hide="true">[[item.startDate]]</div>
                <div ng-hide="true">[[item.endDate]]</div>
            </i> </div>
    </div>
    <div ng-if="!isPersonnel()">
        <div class="cell twelve ellipsis" >[[item.course.subjectLabel]] </div>
    </div>

    <em class="metadata">
        <span ng-repeat="className in item.course.classes">[[className]]</span>
        <span ng-repeat="groupName in item.course.groups">[[groupName]]</span>
    </em>
    <em class="metadata">
           <span ng-repeat="roomLabel in item.course.roomLabels">
               <span ng-if="roomLabel !== null && roomLabel !=''">
                -  <i18n>edt.utils.room</i18n>: [[roomLabel]]
               </span>
           </span>
    </em>


</div>
<div oncontextmenu="return false" ng-if="!item.exceptionnal" class="schedule-item-content [[item.color]]" data-id="[[item.course._id]]"  ng-class="(!isNotPast(item)) ?  'past' : 'notpast' " >
    <div ng-if="isPersonnel()">
        <div ng-class="(!isNotPast(item)) ?  'eleven' : 'twelve' "
             class="cell ellipsis" >[[item.course.subjectLabel]] </div>
        <div ng-show="isNotPast(item)" class="one cell edit-icone" data-id="[[item.course._id]]" >
            <i class="edit sm-margin-right right-magnet"  >
                <div ng-hide="true">[[item.startDate]]</div>
                <div ng-hide="true">[[item.endDate]]</div>
            </i> </div>
    </div>
    <div ng-if="!isPersonnel()">
        <div class="cell twelve ellipsis" >[[item.course.subjectLabel]] </div>
    </div>

    <em class="metadata">
        <span ng-repeat="className in item.course.classes">[[className]]</span>
        <span ng-repeat="groupName in item.course.groups">[[groupName]]</span>
    </em>
    <em class="metadata">
           <span ng-repeat="roomLabel in item.course.roomLabels">
               <span ng-if="roomLabel !== null && roomLabel !=''">
                -  <i18n>edt.utils.room</i18n>: [[roomLabel]]
               </span>
           </span>
    </em>


</div>