<div class="schedule-item-content border-radius-5 [[item.color]]" data-id="[[item.course._id]]" >
    <div class="two cell row" ng-if="isPersonnel()">
        <div class="cell eleven ellipsis padding-sm" >[[item.course.subjectLabel]] </div>
        <div class="one cell edit-icone padding-top-sm" data-id="[[item.course._id]]" >
            <i class="edit sm-margin-right right-magnet">
                <div ng-hide="true">[[item.startDate]]</div>
                <div ng-hide="true">[[item.endDate]]</div>
            </i>
        </div>
    </div>
    <div ng-if="!isPersonnel()">
        <div class="cell ten ellipsis" >[[item.course.subjectLabel]]</div>
    </div>
</div>