<h1 class="centered eight row lightbox-header">
    <i18n>edt.schedule.delete</i18n>
</h1>

<div class="lightbox-container">
    <div class="twelve cell ">

        <div class="cell twelve twelve-mobile vertical-spacing">
            <i18n>edt.delete.courses.type.message</i18n>
        </div>
    </div>

    <!--SUBMIT AND DELETE BUTTONS-->
    <div class="right-magnet vertical-spacing">
        <button class="cancel" type="button" ng-click="cancelDeleteLightbox()">
            <i18n>edt.utils.cancel</i18n>
        </button>

        <button type="submit" ng-click="deleteCourses()">
            <i18n>edt.utils.delete</i18n>
        </button>
    </div>
</div>