<div class="sidebar ">
    <div class="row">
        <section id="display-section" class="twelve">
            <div ng-if="checkAccess() && structures.all.length > 1">
                <select
                        ng-model="structure"
                        id="structure-list"
                        class="twelve margin-left-2 margin-bottom-mid"
                        ng-change="switchStructure(structure)"
                        ng-options="structure as structure.name for structure in structures.all">
                    <option value="" disabled selected>
                        [[translate('utils.structure.choose.one')]]
                    </option>
                </select>
            </div>
            <div ng-if="children" class="row display-inline-block">

                <select
                        ng-model="child"
                        id="children-list"
                        class="twelve margin-left-2 margin-bottom-mid"
                        ng-change="switchChild(child)"
                        ng-options="child as child.displayName for child in children">
                    <option value="" disabled selected>
                        [[translate('utils.child.choose.one')]]
                    </option>
                </select>
            </div>
            <div ng-if="::isTeacher() || isPersonnel() " ng-show="!isAllStructure" class="row display-inline-block">
                <label class="twelve small">
                    <multi-combo
                            class="twelve"
                            title="[[translate('utils.teachers')]]"
                            id="user-list"
                            combo-model="structure.teachers.all"
                            search-on="displayName"
                            order-by="displayName"
                            filtered-model="params.user"
                            labels="comboLabels"
                            ng-click="updateDatas();"
                    ></multi-combo>
                    <div class="select-blocks">
                        <div ng-repeat="teacher in params.user"
                             ng-click="dropTeacher(teacher)">
                            [[teacher.displayName]]
                        </div>
                    </div>
                </label>
            </div>
            <div ng-if="::isTeacher() || isPersonnel()" ng-show="!isAllStructure" class="row display-inline-block">
                <label class="twelve small">
                    <multi-combo
                            title="[[translate('utils.groups')]]"
                            id="group-list-teacher"
                            combo-model="structure.groups.all"
                            search-on="lastName"
                            order-by="type_group && displayName"
                            filtered-model="params.group"
                            labels="comboLabels"
                            ng-click="updateDatas();"
                    ></multi-combo>
                    <!--<button ng-if ="isTeacher()" ng-click="displayAllClass()"><i18n>showMore</i18n></button>-->
                    <div class="select-blocks">
                        <div ng-repeat="group in params.group" class="[[group.color]]"
                             ng-click="dropGroup(group)">[[group.name]]</div>
                    </div>
                </label>
            </div>

        </section>
    </div>
    <section ng-if="isPersonnel()" id="add-section" class="row">
        <div class="cell twelve ">
            <div class="row cell">
                <div class="twelve cell small">
                    <button class="twelve padding-sm" ng-click="createCourse()">
                        <!--workflow="diary.manageHomework"-->
                        <i18n>edt.schedule.create</i18n>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section ng-if="isPersonnel()" id="delete-section" class="row">
        <div class="cell twelve ">
            <button ng-disabled="! (params.coursesToDelete.length > 0)" class="twelve padding-sm" ng-click="openDeleteForm()">

                <i18n>edt.utils.delete.selected</i18n>

            </button>
        </div>
    </section>
</div>
