button, a.button {
  color: $edt-white;
  background: $edt-dark-blue;
  box-shadow: none;

  &:hover {
    background-color: $edt-dark-blue;
  }

  &:disabled {
    background: $edt-light-grey;
  }

  &.cancel {
    background: $edt-light-grey;
    color: $edt-white;
  }
}


.header-buttons {

  float: right;
  margin: auto 15px auto auto;
  display: flex;

  button {
    padding: 8px 18px 10px;
  }

  #delete-section {
    float: left ;
  }

  #add-section {
    float: right;
    margin-left: 10px;
  }

  .button-header {
    width: fit-content;
  }
}
