<div class="row">
    <div class="twelve cell">
        <div class="four cell">
            <app-title class="zero-mobile">
                <img class="application-logo" ng-src="/edt/public/img/uni-edt.png" alt=""/>
                <h1 class="application-title">
                    <i18n>edt.fullTitle</i18n>
                </h1>
            </app-title>
        </div>
        <div class="four cell search-bars">
            <label class="twelve small">
                <multi-combo
                        title="[[translate('utils.teachers')]]"
                        id="user-list"
                        combo-model="structure.teachers.all"
                        search-on="lastName"
                        order-by="lastName"
                        filtered-model="params.user"
                        labels="comboLabels"
                        ng-click="updateDatas()"></multi-combo>
            </label>
            <label class="twelve small">
                <multi-combo
                        title="[[translate('utils.groups')]]"
                        id="group-list-teacher"
                        combo-model="structure.groups.all"
                        search-on="displayName"
                        order-by="displayName"
                        filtered-model="params.group"
                        labels="comboLabels"
                        ng-click="updateDatas()"
                ></multi-combo>
            </label>

        </div>
        <div class="loader four cell" ng-show="calendarLoader.show">
            <div>
                <h4>
                    <i class="spinner margin-right-md"></i>
                    <i18n>edt.calendar.loading</i18n>
                </h4>
            </div>
        </div>

        <div class="header-buttons" ng-show="!calendarLoader.show">
            <section ng-if="isPersonnel()" id="delete-section" class="button-header four cell">
                <div class="cell twelve ">
                    <button ng-show="(params.coursesToDelete.length > 0)" class="twelve padding-sm"
                            ng-click="openDeleteForm()">
                        <i18n>edt.utils.delete.selected</i18n>
                    </button>
                </div>
            </section>

            <section ng-if="isPersonnel()" id="add-section" class="button-header">
                <div class="cell twelve ">
                    <div class="row cell">
                        <div class="twelve cell small">
                            <button class="twelve padding-sm" ng-click="createCourse()">
                                <i18n>edt.schedule.create</i18n>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="row">

    <article ng-if="::checkAccess()" class="cell two twelve-mobile sidebar"
             static-include="/edt/public/template/main/sidebar.html">
    </article>

    <!-- Calendar View -->
    <div id="calendar-view" class="cell horizontal-spacing twelve-mobile" ng-class="{calendar: checkAccess(), twelve: !checkAccess()}">
        <calendar
                enable-display-modes="true"
                display-template="calendar/course-item"
                display-month-template="calendar/course-month"
                item-tooltip-template="calendar/course-tooltip"
                items="structure.calendarItems.all"
                display-options="true"
                show-next-previous-button="true">
        </calendar>
    </div>
</div>
<lightbox show="show.home_lightbox" on-close="cancelEditionLightbox();">
    <container template="homePagePopUp"></container>
</lightbox>

<lightbox show ="show.delete_lightbox" on-close="cancelDeletionLightbox();">
    <container template="deletePagePopUp"></container>
</lightbox>