<div class="row">
    <div class="twelve cell">
        <div class="six cell">
            <app-title class="zero-mobile">
                <h1 class="application-title">
                    <i18n>edt.fullTitle</i18n>
                </h1>
            </app-title>
        </div>
        <div class="loader" ng-show="calendarLoader.show">
            <div class="six cell">
                <h4>
                    <i class="spinner margin-right-md"></i>
                    <i18n>edt.calendar.loading</i18n>
                </h4>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="row">

    <article ng-if="::checkAccess()" class="cell two twelve-mobile"
             static-include="/edt/public/template/main/sidebar.html">
    </article>

    <!-- Calendar View -->
    <div id="calendar-view" class="cell horizontal-spacing twelve-mobile" ng-class="{ten: checkAccess(), twelve: checkTwelve()}">
        <calendar
                enable-display-modes="true"
                display-template="calendar/course-item"
                display-month-template="calendar/course-month"
                item-tooltip-template="calendar/course-tooltip"
                items="structure.calendarItems.all"
                display-options="true"
                show-next-previous-button="true">
        </calendar>
    </div>
</div>
<lightbox show="show.home_lightbox" on-close="cancelEditionLightbox();">
    <container template="homePagePopUp"></container>
</lightbox>