<div ng-controller="manageCourseCtrl" id="occurrences-creation">
    <h1 class="centered eight row">
        <i18n ng-show="::isAnUpdate">edt.schedule.update</i18n>
        <i18n ng-show="::!isAnUpdate">edt.schedule.create</i18n>
    </h1>
    <form>
        <article class="remove-padding-bottom">
            <div ng-if="::structures.all.length > 1" class="row form-row">
                <label for="select-structure" class="cell two twelve-mobile asterisk obligatoire">
                    Structure
                </label>
                <div class="cell twelve-mobile ten">
                    <select ng-model="course.structure" id="select-structure" ng-change="switchStructure(structure)" required
                            ng-options="structure.name for structure in structures.all">
                        <option ng-if="!course.structure" value="" disabled selected>[[translate('edt.creation.structure.choose')]]</option>
                    </select>
                </div>
            </div>
            <div class="row form-row remove-padding-bottom">
                <label for="combo-teacher" class="cell two twelve-mobile">
                    <i18n>utils.teachers</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <multi-combo title="[[translate('edt.creation.teachers.choose')]]" id="combo-teacher" combo-model="structure.teachers.all"
                                 search-on="displayName" order-by="displayName" filtered-model="course.teachers"
                                 labels="comboLabels"
                                 selection-event="syncSubjects()"
                                 deselection-event="syncSubjects()"></multi-combo>
                    <div class="select-blocks remove-margin-bottom">
                        <div ng-repeat="teacher in course.teachers"
                             ng-click="dropTeacher(teacher, course.teachers)">[[teacher.displayName]]</div>
                    </div>
                </div>
            </div>
            <div class="row form-row remove-padding-bottom">
                <label for="combo-groups" class="cell two twelve-mobile">
                    <i18n>utils.groups</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <multi-combo title="[[translate('edt.creation.groups.choose')]]" id="combo-groups" combo-model="structure.groups.all"
                                 search-on="name" order-by="name" filtered-model="course.groups"
                                 labels="comboLabels"></multi-combo>
                    <div class="select-blocks remove-margin-bottom">
                        <div ng-repeat="group in course.groups"
                             ng-click="dropGroup(group)">[[group.name]]</div>
                    </div>
                </div>
            </div>

            <div class="row form-row remove-padding-bottom">
                <label for="select-subject" class="cell two twelve-mobile">
                    <i18n>subject</i18n>*
                </label>
                <div class="cell twelve-mobile ten">

                    <select class="twelve-mobile two format-select" id="select-subject" ng-model="course.subjectId">
                        <option value="" disabled selected>[[translate('edt.creation.subject.choose')]]</option>
                        <option ng-repeat="subject in selectionOfTeacherSubject.all | orderBy:'subjectLabel'"
                             ng-value="subject.subjectId" >[[subject.subjectLabel]]</option>
                        <option ng-if="selectionOfTeacherSubject.all.length > 0" disabled>──────────</option>
                        <option ng-repeat="subject in structure.subjects.all | orderBy:'subjectLabel'"
                                ng-selected="course.subjectId == subject.subjectId"
                                ng-value="subject.subjectId">[[subject.subjectLabel]]</option>
                        <!--<option i18n-value="exceptionnal.id">[[translate('exceptionnal.label')]]</option>-->

                    </select>


                </div>

            </div>
            <div ng-show="isExceptionnalSubject()" class="row form-row remove-padding-bottom">
                <label class="cell two twelve-mobile">
                    <i18n>exceptionnal.subject</i18n>*
                </label>
                <div  class="cell twelve-mobile three">
                    <input type="text" class="cell twelve-mobile ten"  ng-model="course.exceptionnal">
                </div>
            </div>
            <div class="row form-row" ng-show="editOccurrence !== true">
                <label class="cell two twelve-mobile">
                    <i18n>edt.type</i18n>*
                </label>
                <div class="cell twelve-mobile">
                    <label class="margin-right-md">
                        <input type="radio" ng-model="course.is_recurrent" ng-value="false" ng-change="makePonctual();">
                        <i18n>edt.type.punctual</i18n>
                    </label>
                </div>
                <div class="cell twelve-mobile">
                    <label>
                        <input type="radio" ng-model="course.is_recurrent" ng-value="true" ng-change="makeRecurrentCourse();">
                        <i18n>edt.type.recurrent</i18n>
                    </label>
                </div>
                <div ng-if="course.is_recurrent">
                    <label class="cell twelve-mobile margin-left-lg margin-right-lg">
                        <i18n>edt.every.two.weeks</i18n>
                    </label>
                    <div class="cell twelve-mobile">
                        <switch ng-model="course.everyTwoWeek" ng-change="UpToDateInfo()"></switch>
                    </div>
                </div>
            </div>

            <div ng-if="!course.is_recurrent" class="row form-row">
                <label class="cell two twelve-mobile">
                    <i18n>date</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <i18n>the</i18n>
                    <date-picker
                            ng-model="course.startDate"
                            ng-change="changeDate()"
                            class="text-center remove-padding margin-left-md margin-right-md width-7">
                    </date-picker>

                    <i18n>from2</i18n>

                    <select ng-show="!display.freeSchedule"
                            class="margin-left-lg margin-right-lg"
                            ng-model="course.timeSlot.start"
                            ng-change="selectStartTime()"
                            ng-options="item.name + ' : ' + item.startHour for item in course.timeSlots.all | orderBy:'startHour'">
                        <option value="" disabled="" selected="">[[translate('edt.choose.time.slot')]]</option>
                    </select>

                    <input ng-show="display.freeSchedule" type="time" ng-model="courseOccurrenceForm.startTime" class="margin-left-lg margin-right-lg" required/>

                    <i18n>to2</i18n>

                    <select ng-show="!display.freeSchedule"
                            class="margin-left-lg margin-right-lg"
                            ng-model="course.timeSlot.end"
                            ng-change="formatEndDate();"
                            ng-options="item.name + ' : ' + item.endHour for item in course.timeSlots.all | orderBy:'endHour'">
                        <option value="" disabled="" selected="">[[translate('edt.choose.time.slot')]]</option>
                    </select>

                    <input ng-show="display.freeSchedule" type="time" ng-model="courseOccurrenceForm.endTime" class="margin-left-lg margin-right-lg" required/>

                    <span class="warning four" ng-if="!startTimeIsAfterEdTime()"><i18n>error.timeAfterBefore</i18n></span>

                    <div>
                        <label class="checkbox" ng-click="display.freeSchedule = !display.freeSchedule">
                            <input type="checkbox" ng-model="display.freeSchedule"/>
                            <span><i18n>edt.free.schedule.time.choice</i18n></span>
                        </label>
                    </div>

                </div>
            </div>

            <div ng-if="!course.is_recurrent" class="row form-row remove-padding">
                <label class="cell two twelve-mobile">
                    <i18n>edt.utils.room</i18n>
                </label>
                <div class="cell twelve-mobile ten"><input type="text" class="text-center remove-padding width-7" ng-model="courseOccurrenceForm.roomLabels[0]"/>
                </div>
            </div>

            <div ng-if="course.is_recurrent" class="row form-row remove-padding">
                <div class="cell twelve">
                    <div class="row form-row remove-padding-bottom">
                        <label class="cell two twelve-mobile">
                            <i18n>date</i18n>
                        </label>
                        <div class="cell twelve-mobile ten">
                            <div class="cell twelve-mobile">
                                <i18n>from</i18n>
                                <date-picker ng-init="course.startDate=getSimpleDateFormat(course.startDate);"
                                             ng-change="changeDate()"
                                             ng-model="course.startDate"
                                             class="text-center remove-padding margin-left-md margin-right-md width-7"></date-picker>
                                <i18n>to</i18n>
                                <date-picker  ng-init="course.endDate=getSimpleDateFormat(course.endDate);"
                                              ng-change="changeDate()"
                                              ng-model="course.endDate"
                                              class="text-center remove-padding margin-left-md margin-right-md width-7"></date-picker>
                            </div>
                            <div>
                                <label class="checkbox" ng-click="display.freeSchedule = !display.freeSchedule">
                                    <input type="checkbox" ng-model="display.freeSchedule"/>
                                    <span><i18n>edt.free.schedule.time.choice</i18n></span>
                                </label>
                            </div>
                            <div ng-if="course.is_recurrent && course.everyTwoWeek"
                                 class="circleInfo infoLetter three cell twelve-mobile horizontal-spacing">
                            </div>
                            <div ng-if="course.is_recurrent && course.everyTwoWeek"
                                 class="red-text padding-top-sm five cell twelve-mobile horizontal-spacing ">
                                <i18n>edt.first.occurrence</i18n> : [[getSimpleFRDateFormat(info.firstOccurrenceDate)]] (<i18n>Week</i18n>
                                [[((info.firstWeekNumber%2)==0)? translate('edt.info.week.peer'):translate('edt.info.week.odd')]])
                            </div>
                        </div>
                    </div>

                    <div ng-if="!Utils.isValidDate(course.startDate, course.endDate);" class="warning ">
                        <i18n>edt.error.date.is.not.a.week.after</i18n>
                    </div>

                    <div ng-show="Utils.isCourseInExclusions(course, structure.exclusions.all);" class="warning">
                        <i18n>edt.course.on.exclusion.message</i18n>
                    </div>
                    <div class="row form-row remove-padding">
                        <table class="twelve list-view" style="text-align: center">
                            <thead>
                            <tr>
                                <td>
                                    <i18n>edt.utils.day</i18n>*
                                </td>
                                <td>
                                    <i18n>edt.utils.start.time</i18n>*
                                </td>
                                <td>
                                    <i18n>edt.utils.end.time</i18n>*
                                </td>
                                <td>
                                    <i18n>edt.utils.room</i18n>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="courseOccurrence in course.courseOccurrences">
                                <td>[[daysOfWeek.get(courseOccurrence.dayOfWeek)]]</td>
                                <td>[[courseOccurrence.getFormattedStartTime()]]</td>
                                <td>[[courseOccurrence.getFormattedEndTime()]]</td>
                                <td>[[courseOccurrence.roomLabels.length > 0 ? courseOccurrence.roomLabels[0] : '']]</td>
                                <td class="drop-line" ng-click="dropOccurrence(courseOccurrence)"></td>
                            </tr>
                            <tr>
                                <td>
                                    <select ng-model="courseOccurrenceForm.dayOfWeek" required>
                                        <option ng-repeat="(dayNumber, dayTranslation) in daysOfWeek.days"
                                                ng-selected="[[dayNumber == courseOccurrenceForm.dayOfWeek]]"
                                                value="[[dayNumber]]">
                                            [[daysOfWeek.get(dayNumber)]]
                                        </option>
                                    </select>
                                </td>
                                <!-- Free Schedule -->
                                <td ng-show="display.freeSchedule"><input type="time" ng-model="courseOccurrenceForm.startTime" required/></td>
                                <!-- Time Slot -->
                                <td ng-show="!display.freeSchedule">
                                    <select
                                            ng-model="course.timeSlot.start"
                                            ng-options="item.name + ' : ' + item.startHour for item in course.timeSlots.all | orderBy:'startHour'"
                                            ng-change="selectStartTime()">
                                        <option value="" disabled="" selected="">[[translate('edt.choose.time.slot')]]</option>
                                    </select>
                                </td>
                                <!-- Free Schedule -->
                                <td ng-show="display.freeSchedule"><input type="time" ng-model="courseOccurrenceForm.endTime" required/></td>
                                <!-- Time Slot -->
                                <td ng-show="!display.freeSchedule">
                                    <select
                                            ng-model="course.timeSlot.end"
                                            ng-options="item.name + ' : ' + item.endHour for item in course.timeSlots.all | orderBy:'endHour'">
                                        <option value="" disabled="" selected="">[[translate('edt.choose.time.slot')]]</option>
                                    </select>
                                </td>
                                <td><input type="text" ng-model="courseOccurrenceForm.roomLabels[0]" class="text-center remove-padding width-7"/></td>
                                <td>
                                    <button ng-disabled="!courseOccurrenceForm.isValidTime()" ng-click="submit_CourseOccurrence_Form()">
                                        <i18n>edt.utils.add</i18n>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div ng-if="!courseOccurrenceForm.isValidTime()" class="warning"> <i18n>error.timeAfterBefore</i18n> </div>
                    </div>
                </div>
            </div>


        </article>

        <div class="right-magnet">

            <button   class="cancel" type="button" ng-click="cancelCreation()">
                <i18n ng-show="course.canManage || !isAnUpdate">edt.utils.cancel</i18n>
                <i18n ng-show="!course.canManage && isAnUpdate">edt.utils.back</i18n>
            </button>


            <button ng-show="isAnUpdate && course.canManage" type="button" ng-click="tryDropCourse()">
                <i18n>edt.utils.delete</i18n>
            </button>

            <button ng-show="course.canManage || !isAnUpdate" ng-disabled="!isValidForm()" type="submit"
                    ng-click="saveCourse(course)">
                <i18n ng-if="isAnUpdate">edt.utils.modify</i18n>
                <i18n ng-if="!isAnUpdate">edt.utils.create</i18n>
            </button>
        </div>

        <lightbox show="openedLightbox" on-close="!openedLightbox">
            <p>
                <i18n>edt.choose.delete.course</i18n>
            </p>

            <button class="marginFive magnet-right"
                    ng-click="dropCourse(course)">
                <i18n>edt.utils.ok</i18n>
            </button>

            <button ng-click="closeLightbox()"
                    class="right-magnet cancel">
                <span><i18n>edt.utils.cancel</i18n></span>
            </button>
        </lightbox>
    </form>

</div>