.magenta{
  background: #b300b3 !important;
  color: #fff !important;
}

.light-pink{
  background: #ff99ff !important;
  color: #fff !important;
}

.light-green {
  background: #00e673 !important;
  color: #fff !important;
}

.solid-green{
  background: #00802b !important;
  color: #fff !important;
}

.solid-blue{
  background: #006680 !important;
  color: #fff !important;
}

.solid-red{
  background: #990000 !important;
  color: #fff !important;
}

.light-red{
  background: #ff5050 !important;
  color:#fff !important;
}

.solid-orange{
  background: #cc6600 !important;
  color: #fff !important;
}

.light-orange{
  background: #ffc266 !important;
  color: #fff !important;
}

.exceptionnal{
  background: #996633 !important;
  color: #fff !important;
}

.schedule-item-content.selected{
  opacity: 0.33;
}
.schedule-item-content.cantDelete{
  color: #aaa  !important;
  background: #555  !important;
  border-color: #000;
  border-width: 1px;
}

.past{
  cursor : default !important;
}