@import './specifics/mixins';

body.edt {
  @import './specifics/select';
  @import './specifics/utils';
  @import './specifics/custom';
  @import './specifics/switch';

  div.selecting-timeslot{
    position : relative;
    &::before {
      content:'';
      position:absolute;
      left: 0;
      top: 0;
      bottom:0;
      right:0;
      z-index: 999;
      width: 100%;
      height: 100%;
    }
  }
  #group-list-teacher{
    display: contents;
  }
 .selected-timeslot{
    position : relative;
    &::after {
      content:'';
      position:absolute;
      border: 1px $green dashed;
      left: 0;
      top: 0;
      bottom:0;
      right:0;
      z-index: 400;
      width: 100%;
      height: 100%;
    }
  }
  .border-left-right-selected{
    border-left: 1px $orange solid !important;
    border-right: 1px $orange solid !important;
  }
  .border-top-selected {
    border-top: 1px $orange solid !important;
  }
  .border-bottom-selected{
    border-bottom: 1px $orange solid !important;
  }
  .sm-margin-right {
    margin-right: 10px !important;
  }

  .tooltip-cours {
    padding: 11px;
    text-align: center;
    .header {
      color: white;
      border-radius: 9px;
      padding: 1px 6px;
    }
  }

  .cyan{
    background: $cyan !important;
    color : $white !important;
  }
  .green{
    background: $green !important;
    color : $white !important;
  }
  .orange{
    background: $orange !important;
    color : $white !important;
  }
  .pink{
    background: $pink !important;
    color : $white !important;
  }
  .yellow{
    background: $yellow !important;
    color : $white !important;
  }
  .purple{
    background: $purple !important;
    color : $white !important;
  }
  .grey{
    background: $grey !important;
    color : $white !important;
  }
}

.edt-settings {
  @import './specifics/loader';

  @import './specifics/switch';
  table {
    th {
      i::before {
        font-size: 10px !important;
        margin-left: 5px;
        position: absolute;
      }
    }
  }
}

