@import './specifics/mixins';

body.edt {
  @import './specifics/select';
  @import './specifics/utils';
  @import './specifics/custom';
  @import './specifics/switch';

  .sm-margin-right {
    margin-right: 10px !important;
  }

  .tooltip-cours {
    padding: 11px;
    text-align: center;
    .header {
      color: white;
      border-radius: 9px;
      padding: 1px 6px;
    }
  }
}

.edt-settings {
  @import './specifics/loader';

  @import './specifics/switch';
  table {
    th {
      i::before {
        font-size: 10px !important;
        margin-left: 5px;
        position: absolute;
      }
    }
  }
}

