.light-orange{
  background: $edt-light-orange !important;
  color: $edt-white !important;
}

.solid-orange{
  background: $edt-solid-orange !important;
  color: $edt-white !important;
}

.spiro-blue{
  background: $edt-spiro-blue !important;
  color: $edt-white !important;
}

.honey-orange{
  background: $edt-honey-orange !important;
  color: $edt-white !important;
}

.garden-blue{
  background: $edt-garden-blue !important;
  color: $edt-white !important;
}

.light-grey{
  background: $edt-light-grey !important;
  color: $edt-white !important;
}

.sky-blue{
  background: $edt-sky-blue !important;
  color: $edt-white !important;
}

.keppel-blue{
  background: $edt-keppel-blue !important;
  color: $edt-white !important;
}

.marine-black{
  background: $edt-marine-black !important;
  color: $edt-white !important;
}

.fuchsia{
  background: $edt-fuchsia !important;
  color: $edt-white !important;
}

.indigo{
  background: $edt-indigo !important;
  color: $edt-white !important;
}

.peach-orange{
  background: $edt-peach-orange !important;
  color: $edt-white !important;
}

.light-purple{
  background: $edt-light-purple !important;
  color: $edt-white !important;
}

.magenta{
  background: $edt-magenta !important;
  color: $edt-white !important;
}

.dark-blue{
  background: $edt-darker-blue !important;
  color: $edt-white !important;
}

.pink{
  background: $edt-pink !important;
  color: $edt-white !important;
}

.solid-purple{
  background: $edt-solid-purple !important;
  color: $edt-white !important;
}

.light-orange-lighter{
  background: $edt-light-orange-lighter !important;
  color: $edt-white !important;
}

.solid-orange-lighter{
  background: $edt-solid-orange-lighter !important;
  color: $edt-white !important;
}

.spiro-blue-lighter{
  background: $edt-spiro-blue-lighter !important;
  color: $edt-white !important;
}

.garden-blue-lighter{
  background: $edt-garden-blue-lighter !important;
  color: $edt-white !important;
}

.sky-blue-lighter{
  background: $edt-sky-blue-lighter !important;
  color: $edt-white !important;
}

.keppel-blue-lighter{
  background: $edt-keppel-blue-lighter !important;
  color: $edt-white !important;
}

.marine-black-lighter{
  background: $edt-marine-black-lighter !important;
  color: $edt-white !important;
}

.fuchsia-lighter{
  background: $edt-fuchsia-lighter !important;
  color: $edt-white !important;
}

.indigo-lighter{
  background: $edt-indigo-lighter !important;
  color: $edt-white !important;
}

.peach-orange-lighter{
  background: $edt-peach-orange-lighter !important;
  color: $edt-white !important;
}

.light-purple-lighter{
  background: $edt-light-purple-lighter !important;
  color: $edt-white !important;
}

.magenta-lighter{
  background: $edt-magenta-lighter !important;
  color: $edt-white !important;
}

.dark-blue-lighter{
  background: $edt-darker-blue-lighter !important;
  color: $edt-white !important;
}

.pink-lighter{
  background: $edt-pink-lighter !important;
  color: $edt-white !important;
}

.solid-purple-lighter{
  background: $edt-solid-purple-lighter !important;
  color: $edt-white !important;
}

.exceptionnal{
  background: $edt-exceptionnal !important;
  color: $edt-white !important;
}

.schedule-item-content.selected{
  opacity: 0.33;
}

.schedule-item-content.cantDelete{
  color: #aaa  !important;
  background: #555  !important;
  border-color: #000;
  border-width: 1px;
}

.schedule-item-content {
  padding: 3px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.past{
  cursor : default !important;
}