<div class="ten cell">
    <article class="row">

        <h3 class="row margin-bottom-lg">
            [[lang.translate('edt.admin.importsts.title')]]
        </h3>

        <div class="cell twelve-mobile twelve">
            <h4>[[lang.translate('edt.admin.importsts.fileupload')]] :</h4>
            <input type="file"
                   files-input-change="getFile1(this.emp_sts)"
                   ng-model="emp_sts" name="emp_sts"
                   accept=".xml"/>
            <br/>
            <input type="file"
                   files-input-change="getFile2(this.sts_emp)"
                   ng-model="sts_emp" name="sts_emp"
                   accept=".xml"/>
            <p ng-show="request_result">
                <b>[[lang.translate('edt.admin.importsts.coursesWritten')]]:</b> [[request_result.coursesWritten]]<br/>
                <b>[[lang.translate('edt.admin.importsts.teachersNotFound')]]:</b> [[request_result.teachersNotFound]]<br/>
                <b>[[lang.translate('edt.admin.importsts.subjectsNotFound')]]:</b> [[request_result.subjectsNotFound]]<br/>
            </p>
        </div>

        <div class="cell twelve-mobile twelve">
            <br/>
            <button ng-click="submitStsFiles()">
                [[lang.translate('edt.admin.importsts.submit')]]
            </button>
        </div>

    </article>
</div>