<div class="ten cell">
    <toasts notifications="notifications"></toasts>
    <article class="row">

        <h3 class="row margin-bottom-lg">
            [[lang.translate('edt.setting.data.init')]]
        </h3>

        <div class="cell twelve-mobile twelve">
            <h4>[[lang.translate('edt.data.init.are')]] :</h4>
            <ul class="remove-margin-top">
                <li class="twelve">
                    <span>[[lang.translate('edt.year.start.end.date')]]</span>
                </li>
                <li class="twelve">
                    <span>[[lang.translate('edt.public.holiday')]]</span>
                </li>
            </ul>
        </div>

        <div class="cell twelve-mobile twelve">
            <button ng-click="initData()">
                [[lang.translate('edt.start.init')]]
            </button>
        </div>

    </article>
</div>